<h1 mat-dialog-title>Let's add an event to your calendar!</h1>

<div mat-dialog-content>
    <form [formGroup] = "formdata" >
                Select a Date:
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="eventDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <br><br>

    Name of Event:
    <mat-form-field>
        <input matInput placeholder="Event Name" formControlName="eventName">
    </mat-form-field>

    <br><br>

    Priority: 
    <mat-form-field>
        <mat-select placeholder="Priority" formControlName="eventPriority">
            <mat-option *ngFor="let priority of priorities"
            [value]="priority">
            {{priority}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br> <br>

    Ideal Start Hour:
    <mat-form-field>
        <mat-select placeholder="Hour" formControlName="eventStartHour">
            <mat-option *ngFor="let hour of hours"
            [value]="hour">
            {{hour}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br><br>

    Ideal Start Minute:
    <mat-form-field>
        <mat-select placeholder="Hour" formControlName="eventStartMinute">
            <mat-option *ngFor="let minute of minutes"
            [value]="minute">
            {{minute}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br><br>

    Ideal End Hour:
    <mat-form-field>
        <mat-select placeholder="Hour" formControlName="eventStartMinute">
            <mat-option *ngFor="let hour of hours"
            [value]="hour">
            {{hour}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br><br>

    Ideal End Minute:
    <mat-form-field>
        <mat-select placeholder="Hour" formControlName="eventEndMinute">
            <mat-option *ngFor="let minute of minutes"
            [value]="minute">
            {{minute}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <br><br>
</form>

</div>

<div mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="formdata" cdkFocusInitial>Add</button>
</div>
